.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    position: relative;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.97em;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    -webkit-transition: border 0.3s, background 0.3s, opacity 0.3s, color 0.3s,
        -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, background 0.3s, opacity 0.3s, color 0.3s,
        -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s,
        opacity 0.3s, color 0.3s;
    transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s,
        opacity 0.3s, color 0.3s;
    transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s,
        opacity 0.3s, color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button span {
    display: inline-block;
    line-height: 1.6;
}

.button.is-outline {
    line-height: 2.19em;
}

.nav>li>a.button:hover,
.nav>li>a.button {
    padding-top: 0;
    padding-bottom: 0;
}

.nav>li>a.button:hover {
    color: #fff;
}

.button,
input[type="submit"],
input[type="submit"].button,
input[type="reset"].button,
input[type="button"].button {
    color: #fff;
    background-color: #446084;
    background-color: var(--primary-color);
    border-color: rgba(0, 0, 0, 0.05);
}

.button.is-outline,
input[type="submit"].is-outline,
input[type="reset"].is-outline,
input[type="button"].is-outline {
    border: 2px solid currentColor;
    background-color: transparent;
}

.dark .button.is-form:hover,
.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    outline: none;
    opacity: 1;
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.button.is-underline,
.button.is-link {
    background-color: transparent !important;
    border-color: transparent !important;
    padding-left: 0.15em;
    padding-right: 0.15em;
}

.button.is-underline:before {
    content: "";
    height: 2px;
    background-color: currentColor;
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
}

.button.is-underline:hover:before {
    left: 0%;
    width: 100%;
    opacity: 1;
}

.is-link,
.is-underline {
    color: #666;
}

.dark .button.is-underline:hover,
.dark .button.is-link:hover {
    color: #fff;
    opacity: 0.8;
}

.button.is-underline:hover,
.button.is-link:hover {
    color: #333;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.is-form,
button.is-form,
input[type="submit"].is-form,
input[type="reset"].is-form,
input[type="button"].is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: 400;
}

.button.is-form:hover {
    color: #000;
    background-color: #f1f1f1;
}

.dark .button,
.dark input[type="submit"],
.dark input[type="reset"],
.dark input[type="button"] {
    color: #fff;
}

.dark .button.is-form,
.dark input[type="submit"].is-form,
.dark input[type="reset"].is-form,
.dark input[type="button"].is-form {
    color: #000;
}

.is-round {
    border-radius: 99px;
}

.is-shade,
.is-bevel,
.is-gloss {
    overflow: hidden;
}

.is-gloss:after,
.is-shade:after,
.is-bevel:after {
    content: "";
    position: absolute;
    top: 0;
    left: -25%;
    height: 100%;
    width: 150%;
    -webkit-box-shadow: inset 0 1.2em 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1.2em 0 0 rgba(255, 255, 255, 0.1);
}

.is-shade:after {
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1),
        inset 0 2em 15px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1),
        inset 0 2em 15px 0 rgba(255, 255, 255, 0.2);
}

.is-bevel:after {
    left: 0;
    width: 100%;
    -webkit-box-shadow: inset -0.01em -0.1em 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset -0.01em -0.1em 0 0 rgba(0, 0, 0, 0.15);
}

.is-outline {
    color: silver;
}

.is-outline:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type="submit"],
input[type="submit"].button,
input[type="submit"],
.primary {
    background-color: #446084;
}

.primary.is-underline,
.primary.is-link,
.primary.is-outline {
    color: #446084;
}

.is-outline:hover,
.primary.is-outline:hover {
    color: #fff;
    background-color: #446084;
    border-color: #446084;
}

.success {
    background-color: #7a9c59;
}

.success.is-underline,
.success.is-link,
.success.is-outline {
    color: #7a9c59;
}

.success.is-outline:hover {
    background-color: #7a9c59;
    border-color: #7a9c59;
    color: #fff;
}

.white {
    background-color: #fff !important;
    color: #666 !important;
}

.white.button.is-outline {
    background-color: transparent;
    color: currentColor !important;
}

.white.is-underline,
.white.is-link,
.white.is-outline {
    color: #fff !important;
    background-color: transparent !important;
}

.white.is-outline:hover {
    background-color: #fff !important;
    border-color: #fff;
    color: #666 !important;
}

.secondary,
.checkout-button,
.button.checkout,
.button.alt {
    background-color: #d26e4b;
}

.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline {
    color: #d26e4b;
}

.secondary.is-outline:hover {
    background-color: #d26e4b;
    border-color: #d26e4b;
    color: #fff;
}

a.primary:not(.button),
a.secondary:not(.button) {
    background-color: transparent;
}

.alert {
    background-color: #b20000;
}

.alert.is-underline,
.alert.is-link,
.alert.is-outline {
    color: #b20000;
}

.alert.is-outline:hover {
    background-color: #b20000;
    border-color: #b20000;
    color: #fff;
}

.text-center .button:first-of-type {
    margin-left: 0 !important;
}

.text-right .button:last-of-type,
.text-center .button:last-of-type {
    margin-right: 0 !important;
}

.button.disabled,
button.disabled,
.button[disabled],
button[disabled] {
    opacity: 0.6;
}